@font-face {
  font-family: "dank_monoregular";
  src: url("fonts/dank_mono_regular_thefontsmaster.com-webfont.woff2")
      format("woff2"),
    url("fonts/dank_mono_regular_thefontsmaster.com-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f3f4ed;
  font-family: "dank_monoregular", sans-serif;
  max-width: 1550px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  background: #646262;
  border-radius: 0.5rem;
}
form {
  width: clamp(220px,50vw,500px);
}
label {
  display: block;
  text-align: left;
  font-weight: bold;
}
input {
  padding: 5px;
  display: block;
  margin: 10px 0;
  width: 100%;
  font-size: 20px;
  font-family: "dank_monoregular", sans-serif;
  font-weight: 700;
  border-radius: 5px;
}
input[type="submit"] {
  width: 100%;
  margin-top: 20px;
  background: none;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 5px;
}

a {
  font-size: 18px;
  border-bottom: 2px solid transparent;
}
a:hover {
  border-bottom: 2px solid white;
}
